@import '../../styles/vars';
.cart {
    display:flex;
    cursor: pointer;
    &__pop{
        span{
            background-color: $details;
            border-radius: 100%;
            color: $primary-color;
            padding: 0 4px;
            font-size: 12px;
        }
    }
}
