@import '../../styles//vars';

.pdpsection{
    padding: 25px;
    h3{
        display: inline-flex;
    }
    a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $Primary-titles;
        font-weight: bold; 
    }
    &__backpage{
        padding: 20px 0; 
        span {
            padding-left: 5px;
        }
    }
    &__fullproduct{
        background-color: $primary-color;
        border: 1px solid $dots; 
        color: $Primary-titles;
        @media(min-width: $desktop){
            display: flex;
        }
        .section__details{
            margin: 20px;
            &--price{
                font-size: 25px;
                font-weight: bold;
                color:$Primary-titles;
            }
            &--btn{
                color: $primary-color;
                font-size: 16px;
                font-weight: bold;
                padding: 10px 40px;
                background-color: $Primary-titles;
                border: 1px solid $dots;
                cursor: pointer;
            }
        }
    }
}