@import '../../styles//vars';

.pdpsection{
    padding: 25px;
    h3{
        display: inline-flex;
    }
    a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $Primary-titles;
        font-weight: bold; 
    }
    &__backpage{
        padding: 20px 0; 
        span {
            padding-left: 5px;
        }
    }
    &__fullproduct{
        background-color: $primary-color;
        border: 1px solid $dots; 
        color: $placeholder-text;
        @media(min-width: $desktop){
            display: flex;
        }
        .section__details{
            margin: 20px;
            @media(min-width: $desktop){
                width: 50%;
            }
            &--title {
                padding-top: 16px;
                font-size: 14px;
                font-weight: bold;
            }
            &--name{
                margin: 0;
                color: $Primary-titles; 
            }
            &--description{
                font-size: 14px;
                color: $Primary-titles; 
            }
            &--select{
                padding-top: 10px;
                font-size: 12px;
                font-weight: bold;
            }
            &--sdk{
                p{
                    padding-top: 10px;
                    font-size: 12px;
                    font-weight: bold;
                }
                .color__one{
                    margin: 6px;
                    background: $Primary-titles;
                    border: none;
                    border-radius: 100%;
                    width: 25px;
                    height: 25px; 
                }
                .color__two{
                    margin: 6px;
                    background: violet;
                    border: none;
                    border-radius: 100%;
                    width: 25px;
                    height: 25px; 
                }
                .color__three{
                    margin: 6px;
                    background: blue;
                    border: none;
                    border-radius: 100%;
                    width: 25px;
                    height: 25px; 
                }
                .color__four{
                    margin: 6px;
                    background: burlywood;
                    border: none;
                    border-radius: 100%;
                    width: 25px;
                    height: 25px; 
                }
                .color__five{
                    margin: 6px;
                    background: lightgreen;
                    border: none;
                    border-radius: 100%;
                    width: 25px;
                    height: 25px; 
                }
                .color__six{
                    margin: 6px;
                    background: red;
                    border: none;
                    border-radius: 100%;
                    width: 25px;
                    height: 25px; 
                }
            }
            &--price{
                font-size: 25px;
                font-weight: bold;
                color:$Primary-titles;
            }
            &--btn{
                color: $primary-color;
                font-size: 12px;
                font-weight: bold;
                padding: 10px;
                background-color: $Primary-titles;
                border: 1px solid $dots;
                cursor: pointer;
            }
        }
    }
}