@import '../../styles//vars';

.header{
   background-color: $primary-color;
   position: sticky;
    top: 0;
    z-index: 900000;
   &__bar{
    position: static;
   }
   &__toolbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    &--cart{
        padding: 0 12px;
        display: flex;
        svg{
            font-size: 30px;
            color: $Primary-titles;
        }
    }
    &--title{
        padding: 0 12px;
        .navigatelink {
            text-decoration: none;
        }
        h2{
            color: $Primary-titles;
            font-weight: 900;
            margin: 12px;
            font-size: 30px;
        }
    }
    }
}