@import '../../styles//vars';

.grid{
    display: flex;
    justify-content: center;
    grid-gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    @media (max-width:$desktop) {
        padding:25px;
    }
    @media (min-width:770px) {
        justify-content: space-between;
    }
}